.category_page {
  @apply flex flex-col items-center mt-[2em];

  .select_text {
    @apply text-[42px] font-bold text-center flex items-center gap-2 sm:flex-col sm:text-[25px] md:flex-col;

    p {
      @apply sm:mb-[-10px] md:mb-[-10px];
      background: linear-gradient(90.21deg, #1082c5 0.29%, #3cbc49 117.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      /* text-fill-color: transparent; */
    }
  }

  .course_list {
    @apply grid gap-4 mb-[4em] mt-[3em];
  }
}
