.course_progress_card {
  @apply bg-white flex items-start px-[40px] py-[40px] rounded-xl gap-[40px] w-full sm:px-5 sm:flex-col sm:items-center;

  .second_div {
    @apply flex flex-col w-full;

    h2 {
      @apply text-[24px] font-semibold text-[#2B2B2B];
    }

    .details {
      @apply flex flex-col items-start;
    }

    .course_links {
      @apply flex justify-between items-center w-full mt-[1em];
    }

    .progressbar {
      @apply rounded-3xl mt-2;

      position: relative;
      overflow: hidden;
      height: 5px;
      background-color: #dcdcdc;
      /* z-index: 1000001; */
    }

    .statusBar {
      @apply rounded-3xl;

      background: rgb(19, 133, 191);
      background: linear-gradient(
        90deg,
        rgba(19, 133, 191, 1) 0%,
        rgba(45, 168, 116, 1) 49%
      );
    }
  }
}
