.categories_page {
  @apply mt-[2em] flex flex-col items-center;

  .first_section {
    @apply flex flex-col gap-[3em] md:w-full px-8;

    .select_text {
      @apply xl:text-[48px] text-[38px] sm:text-[32px] font-bold text-center flex flex-col xl:flex-row items-center xl:gap-2;

      p {
        @apply sm:mb-[-10px];
        background: linear-gradient(90.21deg, #1082c5 0.29%, #3cbc49 117.67%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

        /* text-fill-color: transparent; */
      }
    }

    .categories_section {
      @apply w-full flex flex-col items-start gap-[2em];

      h1 {
        @apply xl:text-[32px] text-[25px] font-semibold;
      }

      .categories {
        @apply grid grid-cols-3 gap-3 sm:grid-cols-2 sm:w-full md:grid-cols-2 md:w-full;
      }
    }
  }

  .second_section {
    @apply flex flex-col items-center gap-[2em] my-[4em];

    h1 {
      @apply text-[32px] font-bold flex items-center gap-2 sm:flex-col;

      p {
        @apply sm:mt-[-10px];

        background: linear-gradient(98.55deg, #1082c5 70.91%, #3cbc49 98.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        /* text-fill-color: transparent; */
      }
    }

    .testimonies {
      @apply flex flex-col gap-[1em] mx-[8%];
    }
  }
}
